<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <reactedge>
            <observability>
                <enabled>0</enabled>
                <service_name>reactedge-runtime</service_name>
                <collector_endpoint><![CDATA[http://widget-runtime-otel-collector-1:4318/v1/traces]]></collector_endpoint>
            </observability>
        </reactedge>
    </default>
</config>
