<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="layout_load_before">
        <observer
                name="reactedge_add_productgallery_layout_handle"
                instance="ReactEdge\WidgetBridge\Observer\AddProductGalleryLayoutHandle"
        />

        <observer
                name="reactedge_add_megamenu_layout_handle"
                instance="ReactEdge\WidgetBridge\Observer\AddMegamenuLayoutHandle"
        />
    </event>

    <event name="layout_generate_blocks_before">
        <observer
                name="reactedge_start_page_trace"
                instance="ReactEdge\WidgetBridge\Observer\StartPageTrace"
        />
    </event>

    <event name="controller_front_send_response_before">
        <observer
                name="reactedge_end_page_trace"
                instance="ReactEdge\WidgetBridge\Observer\EndPageTrace"
        />
    </event>

</config>
